.body{
  font-family: 'Lato', sans-serif;
}

.left-background{
  background-color: #F9F9F9;
  height: 100vh;
  position: fixed!important;
  left: 0!important;
  padding-right: 0!important;
  top: 0!important;
}
.right-col{
  right: 0 !important;
  position: absolute!important;
  padding-left: 0!important;
  padding-right: 0!important;
}

.left-wrap{
  display: flex;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
  flex-direction: column;
  height: 80vh;
}

.right-wrap1{
  background-color: #0C5DA7;
  padding-left: 60px;
  padding-right: 60px;
  height: 100vh;
}

.right-wrap2{

  padding-left: 60px;
  padding-right: 60px;
  height: 100vh;
  background-color: #B5DDC0;
}
.right-wrap3{
  padding-left: 60px;
  padding-right: 60px;
  height: 100vh;
  background-color: #f2a2a4;
}
.right-wrap4{
  background-color: #F2F1F1;
  padding-left: 60px;
  padding-right: 60px;
  height: 50vh;

}
.header-text{
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 3.49em;
  font-weight: 900;
}
.black-header{
  padding-top: 45px;
  margin-bottom: 50px;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
}

.header-p{
  width: 80%;
  margin-top: 17px;
  font-weight: 300;
}
.icon-group{
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 50px;
}
.icons {
  margin-right: 20px;
}
.header-btn{
  margin-top: 30px;
}
.img-wrap{
  width: 350px;
  height: 750px;
}
.block-header{
  font-weight: 400;
  font-size: 1.2em;
  color: #F9F9F9;
}
.block-p{
  color: #F9F9F9;
  font-weight: 100;
  font-size: 0.85em;
}
.footer{
  background-color: #1F1F1F;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}